* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

:root {
    --first-color: #222222;
    --accent-color: #fbdc7c;
    --third-color: #fff;
    --border-radius: .5rem;
}

@media (min-width: 200px) {}

body {
    background-color: var(--first-color);
    color: var(--third-color);
}

a {
    text-decoration: none;
    color: #fff;
}

.monarLogo {
    max-width: 18rem;
    display: block;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    position: relative;
    z-index: 30;
}

main {
    grid-area: 2/2;
}

.enVivo {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 15rem;
    height: 4rem;
    background-color: #fbdc7c;
    border-radius: 2rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0 2rem 0;
    border-radius: var(--border-radius);
}

h2 {
    text-align: center;
    font-size: 2.3rem;
    margin: 2.3rem 0 2rem 0;
}

h3 {
    padding: 1rem;
}

.desc {
    border: .1rem solid var(--accent-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    margin: 1rem 0;
    font-size: 1.5rem;
}

.falta {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    text-align: center;
}

#timer,
#crono {
    background-color: var(--accent-color);
    color: var(--first-color);
    text-align: center;
    display: block;
    border-radius: var(--border-radius);
    margin: 1rem 0;
    padding: 1rem .3rem;
    font-weight: 800;
}

#crono {
    font-size: 3rem;
}

#timer {
    font-size: 3rem;
}

table {
    width: 100%;
    margin: 0 0;
    border: var(--accent-color) 0.0002rem solid;
    border-radius: var(--border-radius);
}

table td {
    margin: 1rem;
}

td img {
    border-radius: 5rem;
    margin: 1rem;
    display: block;
    margin: auto;
    padding: 1rem;
}

td a:nth-child(odd) {
    margin: 1rem;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: var(--accent-color);
}

tr a:nth-child(odd) {
    color: var(--first-color);
}

tr:nth-child(even) {
    background-color: var(--third-color);
}

tr a:nth-child(even) {
    color: var(--third-color)
}

td a p {
    text-align: right;
}

.hor {
    line-height: 3rem;
    border: .1rem solid var(--accent-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.teamLink {
    text-align: center;
    background-color: var(--accent-color);
}

.teamLink a {
    color: var(--first-color);
}

footer {
    background-color: var(--accent-color);
    margin: 2rem 0;
    padding: 2rem 2rem;
    text-align: center;
    border-radius: var(--border-radius);
    color: var(--first-color);
    font-size: 1.3rem;
}

footer a {
    font-size: 1.3rem;
    color: var(--first-color);
}